# ASSIGNMENT


## Data types and structures

###Theory Questions

1. What are data structures, and why are they important?

  - Data structures are organized ways to store and manage data to enable efficient operations like searching, sorting, and updating.Data structures can be Lists, Tuples, Sets, Dictionaries,etc.

Example:

my_list = [10, 20, 30]

my_dict = {'name': 'Alice', 'age': 25}

2. Explain the difference between mutable and immutable data types with examples.

  - Mutable: Can be modified after creation (e.g., lists, dictionaries).

  - Immutable: Cannot be modified once created (e.g., strings, tuples).
  
Example:

lst = [1, 2]
lst.append(3)  #this code will work as list is mutable
tpl = (1, 2)
tpl[0] = 5  # this will throw an error as tuples are immutable.

3. What are the main differences between lists and tuples in Python?

  - Lists: Mutable, slower, and suited for collections requiring updates.

  - Tuples: Immutable, faster, and ideal for fixed data.

Example:

my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

4. Describe how dictionaries store data.

  - Dictionaries use a hash table to store key-value pairs, allowing fast lookups.

Example:

student = {'name': 'Saina', 'age': 22}

print(student['name'])  

5. Why might you use a set instead of a list in Python?

  - Sets doesn't store the duplicate values unlike lists.So we prefer sets instead of list when we dont need duplicate values in our data.

Example:

set1={1,1,2,3,4,5,5,5}

print(set1) #output: {1,2,3,4,5}

6. What is a string in Python, and how is it different from a list?

  - String: Immutable, represents text, sequence of characters.

  - List: Mutable, stores collections.
  
Example:

text = 'hello'
list1 = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

  - Tuples are immutable, ensuring that stored data remains unchanged.So the data will be consistent and thus ensures the data integrity.

Example:

temperature = (10, 20)
temperature[0] = 15  # Error

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables internally for quick lookups (O(1) complexity).


9. Can lists contain different data types in python?

  - Yes, lists can store multiple data types in python.

Example:

list2 = [42, 'hello', 3.14,[1,2,3],(2,7)]

10. Explain why strings are immutable in Python?

  - Strings are the sequence of characters. So they are immutable for performance optimization and security

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries provide faster lookups.Also dictionaries are useful to store key value pairs.But we can't use lists to store key value pairs.

12.   Describe a scenario where using a tuple would be preferable over a list.

  - We can use tuple when we need the data to be unchanged. Tuples are immutable so we cant't change the data after they are created,but the lists are mutable so the data cannot remain unchanged in lists.

13. How do sets handle duplicate values in Python?

  - Sets automatically remove duplicates.Sets can understand the duplicated data and it will be removed when they are creating.

Example:

s = {1, 2, 2, 3}
print(s)  # {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

  - List: Searches one item at a time (slower).

  - Dictionary: Uses hash tables for faster lookups.
  
Example:

print(2 in [1, 2, 3])  # True (slower when compared to dictionary)

print('name' in {'name': 'saina'})  # True (faster when compared to lists)

15. Can you modify the elements of a tuple? Explain why or why not?

  - No, we can't modify the elements in a tuple,because they are immutable data structures.

16. What is a nested dictionary, and give an example of its use case?

  - A dictionary within another dictionary is known as nested dictionary.It is Useful for structured data.

Example:

students = {'Saina': {'age': 22, 'grade': 'A+'}}

17. Describe the time complexity of accessing elements in a dictionary?

  - Dictionaries use a hash table for a faster lookup, so element access is O(1).That is,it's time complexity is O(1).

18. In what situations are lists preferred over dictionaries?

  - lists are preferred over dictionaries when order is important and indexing by position is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Before Python 3.7, dictionaries were unordered. Now they maintain insertion order, but retrieval is still done via hashing, not indexing.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - List: Access via index.

  - Dictionary: Access via keys.

Example:

my_list = ["apple", "banana", "cherry"]
print(my_list[1])  # Output: banana (accessed using index)

my_dict = {"fruit1": "apple", "fruit2": "banana"}
print(my_dict["fruit2"])  # Output: banana (accessed using key)

### Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
my_name="saina"
print(my_name)

saina

2. Write a code to find the length of the string "Hello World".

In [2]:
my_string="Hello World"
print(len(my_string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string1="Python Programming"
string1[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [6]:
string2="hello"
string2.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
string3="I like apple"
string3.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
list1=[1, 2, 3, 4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [3]:
list2=[1, 2, 3, 4, 5]
list2.remove(3)
list2

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [6]:
list3= ['a', 'b', 'c', 'd']
list3[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
list4= [10, 20, 30, 40, 50]
list4[::-1]

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
tuple2= ('red', 'green', 'blue', 'yellow')
tuple2[1:]

('green', 'blue', 'yellow')

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
tuple3= (10, 20, 5, 15)
min(tuple3)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
tuple4= ('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
tuple5=("apple","orange","kiwi")
'kiwi' in tuple5

True

In [17]:
tuple6=("apple","orange","grapes")
'kiwi' in tuple6

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
set1={'a','b','c'}
set1

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
set2= {1, 2, 3, 4, 5}
print(set2)
set2.clear()
print(set2)

{1, 2, 3, 4, 5}
set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [25]:
set3= {1, 2, 3, 4}
print(set3)
set3.remove(4)
set3

{1, 2, 3, 4}

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
set4= {1, 2, 3}
set5= {3, 4, 5}
set4 |set5

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
set6={1, 2, 3}
set7={2, 3, 4}
set6&set7

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
dict1={"name":"saina","age":22,"city":"koratty"}
dict1

{'name': 'saina', 'age': 22, 'city': 'koratty'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [31]:
dict2={'name': 'John', 'age': 25}
dict2["country"]="USA"
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [32]:
dict3={'name': 'Alice', 'age': 30}
dict3["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [35]:
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
dict4

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [36]:
dict5={'name': 'Alice', 'city': 'Paris'}
'city' in dict5

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
list1=[1,2,3]
print(list1)
tuple1=(1,2,3)
print(tuple1)
dict1={"name":"saina","age":22}
print(dict1)

[1, 2, 3]
(1, 2, 3)
{'name': 'saina', 'age': 22}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [38]:
import random
list1=random.sample(range(1,100),5)
print(list1)
list1.sort()
print(list1)

[45, 59, 24, 15, 52]
[15, 24, 45, 52, 59]

28. Write a code to create a list with strings and print the element at the third index

In [40]:
list3=["apple","orange","banana","cherry","strawberry","blueberry"]
list3[2]

'banana'

29.  Write a code to combine two dictionaries into one and print the result.

In [43]:
dict2={"name":"saina","age":22}
dict3={"city":"koratty","country":"india"}
dict2.update(dict3)
dict2

{'name': 'saina', 'age': 22, 'city': 'koratty', 'country': 'india'}

30. Write a code to convert a list of strings into a set.

In [44]:
list3=["apple","orange","banana","cherry","strawberry","blueberry"]
set(list3)

{'apple', 'banana', 'blueberry', 'cherry', 'orange', 'strawberry'}

# THANK YOU